.jwplayer_flow {
	opacity: 1;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-ms-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
}

.flow_wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-perspective: 250;
}

.flow_wrap,
.flow_tray {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.flow_tray,
.flow_cell {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	-moz-transition: -moz-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	-ms-transition: -ms-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	-o-transition: -o-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	transition: transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
}

.flow_cell canvas {
	position: absolute;
	opacity: 1;
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-ms-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
}

.flow_textfield {
	opacity: 1;
	position: absolute;
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-ms-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
	width: 100%;
}

.flow_textfield h1,
.flow_textfield h2{
	margin: 0;
}
