.jwplayer_flow
{
	opacity: 1;
	overflow: hidden;
	webkit-tap-highlight-color: rgba(0,0,0,0);
	webkit-text-size-adjust: none;
	webkit-touch-callout: none;
	webkit-transition: opacity .7s linear;
}
.jwplayer_flow div.flow_wrap
{
	left: 50%;
	position: absolute;
	top: 50%;
	webkit-perspective: 250;
	webkit-transform: translate3d(0,0,0);
	webkit-transform-style: preserve-3d;
}
.jwplayer_flow div.flow_tray,.jwplayer_flow div.flow_cell
{
	position: absolute;
	webkit-backface-visibility: hidden;
	webkit-transform: translate3d(0,0,0);
	webkit-transform-style: preserve-3d;
	webkit-transition-duration: .8s;
	webkit-transition-property: -webkit-transform;
	webkit-transition-timing-function: cubic-bezier(0.190,1.000,0.220,1.000);
}
.jwplayer_flow div.flow_cell canvas
{
	opacity: 1;
	position: absolute;
	webkit-backface-visibility: hidden;
	webkit-transform-style: preserve-3d;
	webkit-transition: opacity .7s linear;
}
#flow_textfield
{
	opacity: 1;
	position: absolute;
	webkit-transition: opacity .7s linear;
	width: 100%;
}
#flow_textfield h1,#flow_textfield h2
{
	margin: 0;
}